/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}       */


.floating-panel {
  margin: 10px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
} 
/* label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
} */



/* ТАБЛИЦА */

.result-table {
  margin: 20px;
}

.capt {
  /* background-color: #e7e7e7; */
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}
.table {
  table-layout: fixed;
  border-collapse: collapse;
  /* height: 100vh; */
  font-size: 14px;
  width: 800px;
}
.table tbody tr:nth-child(even) {
  background: #ebecec;
}

.table th {
  font-weight: 900;
} 

.table th,
.table td {
  border: 1px solid #cecfd5;
  padding: 5px 10px;
}
.table td {
  width: 80px;
}

.main-head {
  background-color: #646468;
}
.t-head {
  background-color: #cecfd5;
}
.t-result {
  background-color: #646468;
  font-weight: 900;
}
.t-thead-odd {
  background-color: #a0a0a5;
}
.fio {
  display: inline-block;
  width: 250px;
}